/*My mine own CSS*/
.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-menu{
  float: right;
}

.nav-menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.95em 0.95em;
  text-decoration: none;
}

.nav-menu a:hover{
  background-color: #111;
  text-decoration: underline;
}

body{
  background-color: #DDDDDD;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

iframe{
  margin: 1.5em;
}

h1{
  margin: 0.95em;
  padding: 0.5em;
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-decoration: underline;
}

.ordered-list, .summary{
  margin-left: 1.75em;
}


